<%= form_for @place do |f| %>
  <% if @place.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div id="buttons">

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  <div id="progress-indicator" style="display:none">
    <%= image_tag "ajax_loader_gray_64.gif" %>
  </div>
<% end %>

<script>
$("input[name='commit']").click(function() {
  $("#buttons").slideUp();
  $("#progress-indicator").fadeIn();
});
</script>