<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Urban Wander" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "fun. free. off the beaten track." %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <!-- MAPBOX -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

    <%= yield(:head) %>
  </head>
  <body>
  <%= render 'layouts/navigation' %>
    <div id="main" role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div> <!--! end of #main -->
  </body>
</html>